.Rhistory
*.lock
!pixi.lock
.pixi/
*merlin
!vendor/abecasis-lab-merlin
!vendor/abecasis-lab-merlin/**
*.html
!src/hopla/ui/templates/index.html
.DS_Store
tests/assets
dist/
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.ruff_cache/
*.egg-info/
