export(hopla_concordance)
export(hopla_convert_settings)
export(hopla_run)
export(hopla_transform)
import(data.table)
importFrom(DNAcopy,CNA)
importFrom(GenomicRanges,GRanges)
importFrom(RColorBrewer,brewer.pal)
importFrom(base64enc,dataURI)
importFrom(htmltools,save_html)
importFrom(jsonlite,fromJSON)
importFrom(jsonvalidate,json_validate)
importFrom(kinship2,pedigree)
importFrom(plotly,plot_ly)
importFrom(scales,comma)
importFrom(tools,file_path_sans_ext)
importFrom(utils,packageVersion)
importFrom(vcfR,read.vcfR)
importFrom(yaml,as.yaml)
importFrom(yaml,read_yaml)
